.navbarElement {
  background-color: #3AE8BA;
  border-radius: 5px;
  list-style: none;
  text-decoration-style: none;
  text-decoration-color: black;
  display: inline-block;
  padding: 5px;
}

.navbarElementActive {
  background-color: #91e0cf;
  border-radius: 5px;
  list-style: none;
  text-decoration-style: none;
  display: inline-block;
  padding: 5px;
}

.navbarElement:hover {
  background-color: #bedbd5;
  border-radius: 5px;
  list-style: none;
  text-decoration-style: none;
  display: inline-block;
  padding: 5px;
}

.navbarBackground {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 1px;
}

.navbarIcon {
  padding: 5px;
  display: inline-block;
}

.navbarBox {
  background-color: darkgrey;
  border-radius: 5px;
  padding: 5px;
}
